html {
    background-color:green;
} 
h2 {
    color:red;
}
li {
   
    font-family: 'Spicy Rice', cursive; 
} 
h2 {
    font-family: 'Spicy Rice', cursive; 
}
html {
    font-family: 'Spicy Rice', cursive; 
}    